# Binaries
out
chirpy
*.exe
*.dll
*.so
*.dylib

# Test & coverage
*.test
*.out
coverage.txt

# Go workspace
go.work
go.work.sum

# Dependencies vendored locally
/vendor/

# Environment
.env
.env.local

# Editors / OS
.idea/
.vscode/
.DS_Store
